<div class="books-container">
  <h2 class="books-heading">Books
    <span class="item-count">(128 items)</span>
  </h2>
  
<div class="book-grid">
  <div class="book-card" *ngFor="let book of bookArray | filter : Search | paginate : { itemsPerPage: itemsPerPage, currentPage: p}">
    <img [src]="book.bookImage" alt="Book Image" class="book-image" (click)="onBookclick(book)" />

    <div class="book-details">
      <h4 class="book-title">{{ book.bookName }}</h4>
      <p class="book-author">by {{ book.author }}</p>

      <div class="book-rating">
        <span class="stars">4.5★</span> 
        <span class="rating-count">({{ ratingCount }})</span>
      </div>

      <div class="book-price">
        <span class="current-price">₹{{ book.price }}</span>
        <span class="original-price">₹{{ originalPrice }}</span>
      </div>
    </div>
  </div>
</div>
</div>
<div class="pagination">
  <pagination-controls
    (click)="paginations()"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>


