<header class="dashboard-header">
  <!-- Left: Logo -->
  <div class="header-left">
  <img src="../../../assets/images/book2.png" alt="Bookstore logo" class="logo" />
  <h3 class="store-title">BookStores</h3>
</div>
  <!-- Center: Search Bar with icon -->
  <div class="header-center">
    <div class="search-wrapper">
      <img src="assets/images/search.png"  class="search-icon" />
      <input type="text" placeholder="Search books..." class="search-bar" />
    </div>
  </div>

  <!-- Right: Profile and Cart with text below -->
  <div class="header-right">
    <div class="icon-block">
      <img src="assets/images/person.svg"  class="icon" />
      <span class="icon-label">Profile</span>
    </div>
    <div class="icon-block">
      <img src="/assets/images/cart.svg" class="icon" />
      <span class="icon-label">Cart</span>
    </div>
  </div>
</header>
<footer class="dashboard-footer">
  <p>Copyright &copy; 2025 BookStores private limited. All rights reserved.</p>
</footer>

